@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  ul {
  list-style: none;
  background: #262523;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  ul li {
	display: inline-block;
	position: relative;
  }

  ul li.left {
  margin-left: 15px;
}
  
  ul li a {
	display: block;
	padding: 20px 25px;
	color: #FFF;
	text-decoration: none;
	font-size: 20px;
  }
  
  ul li ul.dropdown li {
	display: block;
  }
  
  ul li ul.dropdown {
	width: 100%;
	background: #22438C;
	position: absolute;
	z-index: 999;
	display: none;
  }
  
  ul li a:hover {
	background: #323030;
  }
  
  ul li:hover ul.dropdown {
	display: block;
  }
  ul li button {
  background: transparent;
  color: #FFF;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 18px 25px;
}


ul li button:hover {
  background: #323030;
}