.grid {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 70px minmax(160px, auto) auto;
  grid-template-areas: 
    'leftbar main';
  column-gap: 20px;
  row-gap: 20px;
}

.page-leftbar {
  grid-area: leftbar;
}

.page-main {
  grid-area: main;
}

.content {
  color: #242424;
  background-color: #f25fff;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}